{# templates/card/deck.html.twig #}
{% extends "base.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<h1>{{ title }}</h1>
<div class="card-wrapper">
{% for card in deck %}
    <div class="card {{ card.colour }}">
        <div class="corner top">
            {{ card.value }}
            <div class="{{ card.colour }}"></div>
        </div>
        <div class="pip {{ card.colour }}"></div>
        <div class="corner bottom">
            {{ card.value }}
            <div class="{{ card.colour }}"></div>
        </div>
    </div>
{% endfor %}
</div>

{# <div class="card joker">
    <div class="corner top">Joker</div>
    <div class="pip joker"></div>
    <div class="corner bottom">Joker</div>
</div>

<div class="card back">
    <div class="back">
        <div class="pip unknown"></div>
    </div>
</div> #}

<p><a href="{{path('card-home')}}">Gå tillbaka till överblickssidan</a></p>

{% endblock %}
