{# templates/card/draw.html.twig #}
{% extends "base.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<h1>{{ title }}</h1>

<form method="post">
    <fieldset>
    <p>Kort kvar i kortleken: {{ count }}</p>
    <p>
        <label>Ange hur många kort du vill dra:
            <input type="number" name="drawnumber" value="{{ number }}" max="{{ count }}" min="0" step="1">
        </label>
    </p>
    <p>
        <input type="submit" name="draw" value="Dra kort">
        <input type="submit" name="reset" value="Reset">
    </p>
    </fieldset>
</form>

{% if drawnCards %}
<h2>Du försöker dra {{ number }} kort. Nya kort:</h2>
<div class="card-wrapper">
{% for card in drawnCards %}
    <div class="card {{ card.colour }}">
        <div class="corner top">
            {{ card.value }}
            <div class="{{ card.colour }}"></div>
        </div>
        <div class="pip {{ card.colour }}"></div>
        <div class="corner bottom">
            {{ card.value }}
            <div class="{{ card.colour }}"></div>
        </div>
    </div>
{% endfor %}
</div>

<h2>Din hand:</h2>
<div class="card-wrapper">
{% for card in hand %}
    <div class="card {{ card.colour }}">
        <div class="corner top">
            {{ card.value }}
            <div class="{{ card.colour }}"></div>
        </div>
        <div class="pip {{ card.colour }}"></div>
        <div class="corner bottom">
            {{ card.value }}
            <div class="{{ card.colour }}"></div>
        </div>
    </div>
{% endfor %}
</div>
{% endif %}
<p><a href="{{path('card-home')}}">Gå tillbaka till överblickssidan</a></p>

{% endblock %}
