{# templates/card/home.html.twig #}
{% extends "base.html.twig" %}

{% block title %}Spelkort{% endblock %}

{% block content %}
<h1>Spelkort</h1>

<p>Jag har byggt en kortlek med hjälp av php. Kortens grafik renderas med hjälp av css-klasser baserade på värden vi får från php:n.</p>
<p>Kortlekens utseende är simplifierad med svitens symbol och färg. Benämningen för ess, knäckt, dam och kung har jag valt att ha på svenska.</p> 

<h2>Länkar</h2>
<ul>
    <li><a href="{{path('card-deck')}}">card/deck</a> - Se hela kortleken (sorterad)</li>
    <li><a href="{{path('card-deck-shuffle')}}">card/deck/shuffle</a> - Blanda kortleken</li>
    <li><a href="{{path('card-draw')}}">card/deck/draw</a> - Dra 1 kort</li>
    <li><a href="{{path('card-draw-number', {number: '0'})}}">card/deck/draw/:number</a> - Dra angivet antal kort</li>
    <li><a href="{{path('card-deal', {players: '4', cards: '4'})}}">card/deck/deal/:players/:cards</a> - Dra angivet antal kort per angivet antal spelare</li>
    <li><a href="{{path('card-deck2')}}">card/deck2</a> - Se hela kortleken med 2 jokrar</li>
</ul>

{% endblock %}
